---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArrowCard from "@components/ArrowCard";
import { BLOG } from "@consts";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {BLOG.TITLE}
      </h1>
      <div class="mt-1">
        {BLOG.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    {
      posts.length === 0 ? (
        <p class="animate">No posts yet. Check back soon.</p>
      ) : (
        <ul class="animate flex flex-col gap-4">
          {posts.map((post) => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      )
    }
  </BottomLayout>
</PageLayout>
